/obj
/EventService.App/obj
/EventService.Tests/obj
/EventService.IntegrationTests/obj
/EventService.Domain/obj
/EventService.Application/obj
/EventService.Infrastructure/obj
/Services/User/UserService.App/obj
/Services/User/UserService.Domain/obj
/Services/User/UserService.Application/obj
/Services/User/UserService.Infrastructure/obj
/Services/Event/EventService.App/obj
/Services/Event/EventService.Domain/obj
/Services/Event/EventService.Application/obj
/Services/Event/EventService.Infrastructure/obj
/Services/Booking/BookingService.App/obj
/Services/Booking/BookingService.Domain/obj
/Services/Booking/BookingService.Application/obj
/Services/Booking/BookingService.Infrastructure/obj

/bin
/EventService.App/bin
/EventService.Tests/bin
/EventService.IntegrationTests/bin
/EventService.Domain/bin
/EventService.Application/bin
/EventService.Infrastructure/bin
/Services/User/UserService.App/bin
/Services/User/UserService.Domain/bin
/Services/User/UserService.Application/bin
/Services/User/UserService.Infrastructure/bin
/Services/Event/EventService.App/bin
/Services/Event/EventService.Domain/bin
/Services/Event/EventService.Application/bin
/Services/Event/EventService.Infrastructure/bin
/Services/Booking/BookingService.App/bin
/Services/Booking/BookingService.Domain/bin
/Services/Booking/BookingService.Application/bin
/Services/Booking/BookingService.Infrastructure/bin

/.vs
/EventService.App/.vs
/EventService.Tests/.vs
/EventService.IntegrationTests/.vs
/EventService.Domain/.vs
/EventService.Application/.vs
/EventService.Infrastructure/.vs
/Services/User/UserService.App/.vs
/Services/User/UserService.Domain/.vs
/Services/User/UserService.Application/.vs
/Services/User/UserService.Infrastructure/.vs
/Services/Event/EventService.App/.vs
/Services/Event/EventService.Domain/.vs
/Services/Event/EventService.Application/.vs
/Services/Event/EventService.Infrastructure/.vs
/Services/Booking/BookingService.App/.vs
/Services/Booking/BookingService.Domain/.vs
/Services/Booking/BookingService.Application/.vs
/Services/Booking/BookingService.Infrastructure/.vs
