bin
obj
.vs

../bin
../obj
../.vs

../EventService.Tests/bin
../EventService.Tests/obj
../EventService.Tests/.vs

/obj
/EventService.App/obj
/EventService.Tests/obj

/bin
/EventService.App/bin
/EventService.Tests/bin

/.vs
/EventService.App/.vs
/EventService.Tests/.vs